<div class="title">
  <span>Expense Record</span>
</div>
<!-- <div class="search">
  <input (ngModelChange)="onSearchTextChange($event)" [ngModel]="searchString" placeholder="Search ...">
  <button (click)="reload()" class="button-default">Reload</button>
</div> -->

<p></p>
<!-- <div class="list-actions">
  <button (click)="toggleSortByDesc()" class="button-default">
    <span>Sort by Description</span>
    <ng-container *ngIf="sortByDescDir">
      <span *ngIf="sortByDescDir === SortDir.Asc"><strong>&#8593;</strong></span>
      <span *ngIf="sortByDescDir === SortDir.Desc"><strong>&#8595;</strong></span>
    </ng-container>
  </button>
  <button (click)="toggleSortByDate()" class="button-default">
    <span>Sort by Created Time</span>
    <ng-container *ngIf="sortByDateDir">
      <span *ngIf="sortByDateDir === SortDir.Asc"><strong>&#8593;</strong></span>
      <span *ngIf="sortByDateDir === SortDir.Desc"><strong>&#8595;</strong></span>
    </ng-container>
  </button>
  <button (click)="toggleHideDone()" class="button-default">{{hideDone ? 'Show' : 'Hide'}} Done</button>
</div> -->
<div class="list">
  <ng-container *ngFor="let item of displayList ">
    <div class="item">
      <input (click)="$event.stopPropagation()" type="checkbox">
      <span class="item-desc">{{item.description}}</span>
      <span class="item-desc">{{item.amount}}</span>
      <span class="item-desc">{{item.createTime}}</span>
      <span class="item-desc">{{item.type}}</span>
      <button (click)="delete()" [disabled]="form.invalid" class="button-blue">delete</button>
    </div>
  </ng-container>
</div>
<div class="create-item">
  <button (click)="navToCreateNew()" class="button-blue">Create Item</button>
</div>